@import "Hamburger.css";

body,
html {
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 00;
}


/* Apply a black and white theme */
body {
    background-color: #000;
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin-left: 5rem;
}

/* Style the header and navigation */
header {
    background-color: #d80b0b;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
}


main {
    margin-top: 277px;
    /* Adjust this value as needed to avoid content being hidden behind the fixed navigation */
}

/* Style the main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the sections */
section {
    margin-bottom: 20px;
}

/* Style the profile picture */
.profilePicture {
    max-width: 15vw;
    border: 4px solid #fff;
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Style the form */
.contact-form {
    margin-bottom: 20px;
    margin-left: 2rem;
}

form label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
textarea {
    width: 20vw;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

input[type="submit"] {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style the footer */
footer {
    background-color: #000;
    text-align: center;
    padding: 10px 0;
}

/* Center the header text and navigation on small screens */
@media screen and (max-width: 768px) {
    header h1 {
        text-align: center;
    }

    nav {
        text-align: center;
    }
}