@import "dots.css";
@import"cards.css";

:root {
    --background: #333131;
    --sections: #0e0e0e;
    --text: #fff;
    --title: Montserrat, sans-serif;
    --box-shadow: -10px 10px 12px #1d1c1c;

}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--title);
}

.greetings {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--background);
    width: 100%;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--background);
    text-align: center;
    color: var(--text);
    padding: 10px;
}

h2 {
    padding-left: 1rem;
}

a {
    color: var(--text);
}

a:hover {
    color: orange;
}

.profilePicture {
    max-width: 15vw;
    border: 5px solid var(--background);
    border-radius: 50%;
    margin: 0.5rem;
}

.skill-img {
    max-width: 100px;
    margin: 0.5rem;
    background-color: var(--text);
    border-radius: 30%;
    border: 5px solid var(--text);
    position: relative;
}

.skill-img:hover {
    cursor: pointer;
    animation: tilt 1s infinite alternate
}

.skill-img:hover::before {
    opacity: 1;
}

.skills,
.projects,
.about-container {
    background-color: var(--sections);
    color: var(--text);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    font-family: var(--background);
    font-weight: 600;
    font-size: 1.3rem;
}

.projects {
    padding-bottom: 2rem;
}

.projects-list,
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.projects-list {

    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}

form label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    border: 4px solid #fff;
    background-color: transparent;
    color: #fff;
    border-top-right-radius: 15px;
}

textarea {
    height: 100px;
    width: 100%;
}


input[type="submit"] {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px;
}


footer {
    background-color: #000;
    text-align: center;
    padding: 10px 0;
}

@keyframes tilt {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

@media screen and (max-width: 500px) {
    header h1 {
        text-align: center;
    }
    .greetings {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-wrap: balance;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profilePicture {
        max-width: 50vw;
    }

    .intro-text {
        max-width: 16rem;
    }

}